In [1]:
import pandas as pd
import numpy as np

In [2]:
#read in CSV file
df = pd.read_csv('Data-Table1.csv')

In [3]:
#get an idea of what the data looks like
print(df.shape)

(2912, 10)

In [4]:
print(df.head())
df

   Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita  \
0  2017      1     2         1   103645.0    42598      594304     0.0717
1  2017      1     8         1   733857.0   301615     4639112     0.0650
2  2017      1     9         1   412100.0   169373     3017061     0.0561
3  2017      1    10         1   180388.0    74139      800398     0.0926
4  2017      1    12         1  2770686.0  1138752    17733837     0.0642

   PerCapita3yr  PctChange
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645.0,42598,594304,0.0717,NaN,NaN
1,2017,1,8,1,733857.0,301615,4639112,0.0650,NaN,NaN
2,2017,1,9,1,412100.0,169373,3017061,0.0561,NaN,NaN
3,2017,1,10,1,180388.0,74139,800398,0.0926,NaN,NaN
4,2017,1,12,1,2770686.0,1138752,17733837,0.0642,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2907,2021,8,27,4,NaN,1248935,4652447,0.2684,0.2577,0.0416
2908,2021,8,29,4,NaN,1212586,5093948,0.2380,0.2236,0.0646
2909,2021,8,38,4,NaN,187757,620677,0.3025,0.2730,0.1082
2910,2021,8,47,4,NaN,1173051,5718921,0.2051,0.1785,0.1491
2911,2021,8,48,4,NaN,4585911,23608900,0.1942,0.1938,0.0023

In [6]:
#Remove Null Values
df.dropna(inplace=True)
print(df)

      Year  Month  FIPS  Beverage     Gallons  Ethanol  Population  PerCapita  \
1872  2020      1     2         1    121885.0    50095      590127     0.0849
1873  2020      1     8         1    896700.0   368544     4849887     0.0760
1874  2020      1     9         1    656658.0   269886     3017188     0.0894
1875  2020      1    10         1    175845.0    72272      829168     0.0872
1876  2020      1    12         1   3463591.0  1423536    18454373     0.0771
...    ...    ...   ...       ...         ...      ...         ...        ...
2894  2021      8    27         3  10841848.0   487883     4652447     0.1049
2895  2021      8    29         3  11128509.0   500783     5093948     0.0983
2896  2021      8    38         3   2069134.0    93111      620677     0.1500
2897  2021      8    47         3  11625691.0   523156     5718921     0.0915
2898  2021      8    48         3  58112092.0  2615044    23608900     0.1108

      PerCapita3yr  PctChange
1872        0.0728     0.1653
1873        0.0708     0.0728
1874        0.0670     0.3347
1875        0.1000    -0.1288
1876        0.0692     0.1154
...            ...        ...
2894        0.1084    -0.0328
2895        0.1051    -0.0649
2896        0.1337     0.1223
2897        0.0915    -0.0006
2898        0.1050     0.0544

[780 rows x 10 columns]

In [9]:
#this removed the years 2017-2019 because they had no data in the PerCapita3yr
# and PctChange columns; let's check what happens when we drop those columns first 

df = pd.read_csv('Data-Table1.csv')
to_drop = ['PerCapita3yr',
          'PctChange']

df.drop(to_drop, inplace=True, axis=1)
print(df)

df.dropna(inplace=True)
print(df)

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita
0     2017      1     2         1   103645.0    42598      594304     0.0717
1     2017      1     8         1   733857.0   301615     4639112     0.0650
2     2017      1     9         1   412100.0   169373     3017061     0.0561
3     2017      1    10         1   180388.0    74139      800398     0.0926
4     2017      1    12         1  2770686.0  1138752    17733837     0.0642
...    ...    ...   ...       ...        ...      ...         ...        ...
2907  2021      8    27         4        NaN  1248935     4652447     0.2684
2908  2021      8    29         4        NaN  1212586     5093948     0.2380
2909  2021      8    38         4        NaN   187757      620677     0.3025
2910  2021      8    47         4        NaN  1173051     5718921     0.2051
2911  2021      8    48         4        NaN  4585911    23608900     0.1942

[2912 rows x 8 columns]
      Year  Month  FIPS  Beverage     Gallons  Ethanol  Population  PerCapita
0     2017      1     2         1    103645.0    42598      594304     0.0717
1     2017      1     8         1    733857.0   301615     4639112     0.0650
2     2017      1     9         1    412100.0   169373     3017061     0.0561
3     2017      1    10         1    180388.0    74139      800398     0.0926
4     2017      1    12         1   2770686.0  1138752    17733837     0.0642
...    ...    ...   ...       ...         ...      ...         ...        ...
2894  2021      8    27         3  10841848.0   487883     4652447     0.1049
2895  2021      8    29         3  11128509.0   500783     5093948     0.0983
2896  2021      8    38         3   2069134.0    93111      620677     0.1500
2897  2021      8    47         3  11625691.0   523156     5718921     0.0915
2898  2021      8    48         3  58112092.0  2615044    23608900     0.1108

[2184 rows x 8 columns]

In [ ]:
#we get a lot more data to work with, 2184 rows vs 780

In [10]:
#Correct Column Names, let's rename FIPS to 'State' (FIPS is the geographic name)
df.columns

Index(['Year', 'Month', 'FIPS', 'Beverage', 'Gallons', 'Ethanol', 'Population',
       'PerCapita'],
      dtype='object')

In [11]:
df.rename(columns={"FIPS" : "State"}, inplace=True)
print(df)

      Year  Month  State  Beverage     Gallons  Ethanol  Population  PerCapita
0     2017      1      2         1    103645.0    42598      594304     0.0717
1     2017      1      8         1    733857.0   301615     4639112     0.0650
2     2017      1      9         1    412100.0   169373     3017061     0.0561
3     2017      1     10         1    180388.0    74139      800398     0.0926
4     2017      1     12         1   2770686.0  1138752    17733837     0.0642
...    ...    ...    ...       ...         ...      ...         ...        ...
2894  2021      8     27         3  10841848.0   487883     4652447     0.1049
2895  2021      8     29         3  11128509.0   500783     5093948     0.0983
2896  2021      8     38         3   2069134.0    93111      620677     0.1500
2897  2021      8     47         3  11625691.0   523156     5718921     0.0915
2898  2021      8     48         3  58112092.0  2615044    23608900     0.1108

[2184 rows x 8 columns]

In [ ]:
#in the future i would also rename all the States values with their actual name, not their
#FIPS values