In [8]:
#import Libraries
import pandas as pd
import json
import requests

In [66]:
#Pull in data from an API.

dataUSA = requests.get('https://datausa.io/api/data?drilldowns=State&measures=Population')

#testing it worked

print(dataUSA.status_code)
json = dataUSA.json()

200

In [42]:
json.keys()

dict_keys(['data', 'source'])

In [43]:
#reading into a pandas dataframe

df = pd.DataFrame(json['data'])
df

      ID State          State  ID Year  Year  Population     Slug State
0    04000US01        Alabama     2020  2020     4893186        alabama
1    04000US02         Alaska     2020  2020      736990         alaska
2    04000US04        Arizona     2020  2020     7174064        arizona
3    04000US05       Arkansas     2020  2020     3011873       arkansas
4    04000US06     California     2020  2020    39346023     california
..         ...            ...      ...   ...         ...            ...
411  04000US53     Washington     2013  2013     6819579     washington
412  04000US54  West Virginia     2013  2013     1853619  west-virginia
413  04000US55      Wisconsin     2013  2013     5706871      wisconsin
414  04000US56        Wyoming     2013  2013      570134        wyoming
415  04000US72    Puerto Rico     2013  2013     3682966    puerto-rico

[416 rows x 6 columns]

In [61]:
#Find and print TWO descriptive statistics about your data. 

print(df.dtypes)

#total population for year 2020

totalpop = df.loc[df['Year'] == '2020', 'Population'].sum()
print('The total population for the year 2020 is', totalpop)

#mean for Kentucky's population

meanKY = df.loc[df['State'] == 'Kentucky', 'Population'].mean()
print("The mean for Kentucky's population is", meanKY)

ID State      object
State         object
ID Year        int64
Year          object
Population     int64
Slug State    object
dtype: object
The total population for the year 2020 is 329824950
The mean for Kentucky's population is 4416191.375

In [68]:
#Write a query in Pandas to select a particular set of your data. 

#query for population over 4,500,000
df.query('Population >= 4500000')

      ID State       State  ID Year  Year  Population  Slug State
0    04000US01     Alabama     2020  2020     4893186     alabama
2    04000US04     Arizona     2020  2020     7174064     arizona
4    04000US06  California     2020  2020    39346023  california
5    04000US08    Colorado     2020  2020     5684926    colorado
9    04000US12     Florida     2020  2020    21216924     florida
..         ...         ...      ...   ...         ...         ...
406  04000US47   Tennessee     2013  2013     6402387   tennessee
407  04000US48       Texas     2013  2013    25639373       texas
410  04000US51    Virginia     2013  2013     8100653    virginia
411  04000US53  Washington     2013  2013     6819579  washington
413  04000US55   Wisconsin     2013  2013     5706871   wisconsin

[200 rows x 6 columns]

In [45]:
#Select and print the SECOND AND THIRD columns of your data frame.

print(df.iloc[:, [1, 2]])

             State  ID Year
0          Alabama     2020
1           Alaska     2020
2          Arizona     2020
3         Arkansas     2020
4       California     2020
..             ...      ...
411     Washington     2013
412  West Virginia     2013
413      Wisconsin     2013
414        Wyoming     2013
415    Puerto Rico     2013

[416 rows x 2 columns]

In [47]:
#Select and print the FIRST 4 rows of you data frame

print(df.iloc[0:4, :])

    ID State     State  ID Year  Year  Population Slug State
0  04000US01   Alabama     2020  2020     4893186    alabama
1  04000US02    Alaska     2020  2020      736990     alaska
2  04000US04   Arizona     2020  2020     7174064    arizona
3  04000US05  Arkansas     2020  2020     3011873   arkansas